﻿<form>
    <div class="mb-3">
        <label for="Name" class="form-label">Nama Role</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>

    <button type="submit" id="btn-submit" class="btn btn-success">Simpan</button>
    <a class="btn btn-primary" asp-controller="Role" asp-action="Index">Kembali</a>
</form>

<script>
    $("#btn-submit").click(function (e) {
        e.preventDefault();

        var name = $("#Name").val()
        var data = {
            Name: name
        }

        $.ajax({
            url: "https://localhost:7285/api/Role",
            method: "post",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                // console.log(response)
                Swal.fire({
                    text: response.message,
                    icon: "success"
                })

                setTimeout(function () {
                    window.location = "/Role"
                }, 1000)
            }
        })
    })
</script>