﻿<form>
    <div class="mb-3">
        <label for="Name" class="form-label">Nama Role</label>
        <input type="text" class="form-control" id="Name" name="Name" readonly>
    </div>

    <a class="btn btn-primary" asp-controller="Role" asp-action="Index">Kembali</a>
</form>

<script>
    $(document).ready(function () {
            var data = new URLSearchParams(window.location.search)
            // alert(data.get("id"))

            $.ajax({
                url: "https://localhost:7285/api/Role/" + data.get("id"),
                method: 'get',
                success: function (response) {
                    $("#Name").val(response.data.name)
                }
            })
    })
</script>