﻿<h1>Role</h1>

<a class="btn btn-success" asp-controller="Role" asp-action="Create">+ Role</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="table">
        <tr>
        </tr>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'https://localhost:7285/api/Role',
            method: 'get',
            success: function (result, status) {
                $("#table").empty()

                for (var i = 0; i < result.data.length; i++) {

                    $("#table").append(
                        `<tr>
                            <th scope="row"> ${i + 1} </th>
                            <td>${result.data[i].name}</td>
                            <td>
                                <a href="/Role/Update?id=${result.data[i].id}" class='btn btn-primary' data-id="${result.data[i].id}">Edit</a>
                                <a href="/Role/Detail?id=${result.data[i].id}" class='btn btn-warning'>Detail</a>
                                <a class='btn btn-info' id='btn-soft-delete' data-id="${result.data[i].id}">Soft Delete</a>
                                <a class='btn btn-danger' id='btn-delete' data-id="${result.data[i].id}">Delete</a>
                            </td>
                        </tr>`)
                }
            }
        })

        $(document).on('click', '#btn-delete', function () {
            var id = $(this).attr("data-id")

            $.ajax({
                url: "https://localhost:7285/api/Role/" + id,
                method: 'delete',
                success: function (response) {
                    Swal.fire({
                        text: response.message,
                        icon: "success"
                    })

                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)
                }
            })
        })

        $(document).on('click', '#btn-soft-delete', function () {
            var id = $(this).attr("data-id")

            $.ajax({
                url: "https://localhost:7285/api/Role/" + id,
                method: 'put',
                success: function (response) {
                    Swal.fire({
                        text: response.message,
                        icon: "success"
                    })

                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)
                }
            })
        })
    })
</script>