﻿<form>
    <input type="hidden" class="form-control" id="id" name="Id">

    <div class="mb-3">
        <label for="Name" class="form-label">Nama Role</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>

    <button type="submit" id="btn-submit" class="btn btn-success">Simpan</button>
    <a class="btn btn-primary" asp-controller="Role" asp-action="Index">Kembali</a>
</form>

<script>
    $(document).ready(function () {
        var data = new URLSearchParams(window.location.search)
        // alert(data.get("id"))

        $.ajax({
            url: "https://localhost:7285/api/Role/" + data.get("id"),
            method: 'get',
            success: function (response) {
                $("#Name").val(response.data.name)
            }
        })

        $("#btn-submit").click(function (e) {
            e.preventDefault()

            var name = $("#Name").val()

            $.ajax({
                url: "https://localhost:7285/api/Role",
                method: "put",
                data: JSON.stringify({ 
                    Id: data.get("id"),
                    Name: name 
                }),
                contentType: "application/json",
                success: function (response) {
                    Swal.fire({
                        text: response.message,
                        icon: "success"
                    })

                    setTimeout(function () {
                        window.location = '/Role'
                    }, 2000)
                }
            })
        })
    })
</script>