﻿<form>
    <div class="mb-3">
        <label for="Name" class="form-label">Nama</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Deskripsi</label>
        <input type="text" class="form-control" id="Description" name="Description">
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Harga</label>
        <input type="number" class="form-control" id="Price" name="Price">
    </div>

    <div class="mb-3">
        <label for="Image" class="form-label">Gambar</label>
        <input class="form-control" type="file" id="Image" name="ImagePath">
    </div>

    <button type="submit" id="btn-submit" class="btn btn-success">Simpan</button>
    <a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Kembali</a>
</form>

<script>
    $("#btn-submit").click(function (e) {
        e.preventDefault();

        var name = $("#Name").val()
        var desc = $("#Description").val()
        var price = $("#Price").val()
        var file = $("#Image").prop("files")[0]
        var data = new FormData()
        data.append("Id", Math.random().toString().substring(3, 103))
        data.append("IsDelete", false)
        data.append("Name", name)
        data.append("Description", desc)
        data.append("ImageFile", file)
        data.append("Price", price)

        $.ajax({
            url: "/Menu/Create",
            method: "post",
            data: data,
            contentType: false,
            processData: false,
            success: function (response) {
                data.append("ImagePath", response.data.imagePath)
                submit(data)
            }
        })
    })

    function submit(data){
        $.ajax({
            url: "https://localhost:7285/api/Menu",
            method: "post",
            data: data,
            contentType: false,
            processData: false,
            // contentType: 'multipart/form-data; charset=utf-8',
            // dataType: "json",
            success: function (response) {
                Swal.fire({
                    text: response.message,
                    icon: "success"
                })

                setTimeout(function () {
                    window.location = "/Menu"
                }, 1000)
            }
        })
    }
</script>