﻿<div class="mb-3">
    <label for="Name" class="form-label">Nama</label>
    <input type="text" class="form-control" id="Name" name="Name" readonly>
</div>

<div class="mb-3">
    <label for="Description" class="form-label">Deskripsi</label>
    <input type="text" class="form-control" id="Description" name="Description" readonly>
</div>

<div class="mb-3">
    <label for="Price" class="form-label">Harga</label>
    <input type="number" class="form-control" id="Price" name="Price" readonly>
</div>

<div class="mb-3">
    <label for="Image" class="form-label">Gambar</label>
    <img src="" alt="gambar" />
</div>

<script>
    $(document).ready(function () {
        var data = new URLSearchParams(window.location.search)

        $.ajax({
            method: 'get',
            url: 'https://localhost:7285/api/Menu/' + data.get("id"),
            success: function (response) {
                $("#Name").val(response.data.name)
                $("#Description").val(response.data.description)
                $("#Price").val(response.data.price)
                // $("#Name").val(response.data.name)
            }

        })
    })
</script>