﻿<h1>Menu</h1>

<a class="btn btn-success mb-3" asp-controller="Menu" asp-action="Create">+ Makanan</a>

<div class="row" id="cards">
    
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'https://localhost:7285/api/Menu',
            method: 'get',
            success: function (result, status) {
                $("#table").empty()
                console.log(result)
                for (var i = 0; i < result.data.length; i++) {

                    $("#cards").append(
                        `<div class="col-4 mb-2">
                            <div class="card" style="width: 18rem;">
                                    <img src="/images/${result.data[i].imagePath}" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title">${result.data[i].name}</h5>
                                    <p class="card-text m-0 p-0">${result.data[i].description}</p>
                                    <p class="card-text mb-1 pb-1">${result.data[i].price}</p>
                                    <div>
                                        <a href="/Menu/Update?id=${result.data[i].id}" class="btn btn-primary mb-1">Edit</a>
                                        <a href="/Menu/Detail?id=${result.data[i].id}" class="btn btn-warning mb-1">Detail</a>
                                    </div>
                                    <div>
                                        <a href="#" id="btn-soft-delete" class="btn btn-info mb-1" data-id="${result.data[i].id}">Soft Delete</a>
                                        <a href="#" id="btn-delete" class="btn btn-danger mb-1" data-id="${result.data[i].id}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>`)
                }
            }
        })

        $(document).on('click', '#btn-delete', function () {
            var id = $(this).attr("data-id")

            $.ajax({
                url: "https://localhost:7285/api/Menu/" + id,
                method: 'delete',
                success: function (response) {
                    Swal.fire({
                        text: response.message,
                        icon: "success"
                    })

                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)
                }
            })
        })

        $(document).on('click', '#btn-soft-delete', function () {
            var id = $(this).attr("data-id")

            $.ajax({
                url: "https://localhost:7285/api/Menu/" + id,
                method: 'put',
                success: function (response) {
                    Swal.fire({
                        text: response.message,
                        icon: "success"
                    })

                    setTimeout(function () {
                        window.location.reload()
                    }, 2000)
                }
            })
        })
    })
</script>