﻿<form>
    <input type="hidden" class="form-control" id="id" name="Id">

    <div class="mb-3">
        <label for="Name" class="form-label">Nama</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Deskripsi</label>
        <input type="text" class="form-control" id="Description" name="Description">
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Harga</label>
        <input type="number" class="form-control" id="Price" name="Price">
    </div>

    <div class="mb-3">
        <label for="Image" class="form-label">Gambar</label>
        <img src="" alt="gambar" />
    </div>

    <button type="submit" id="btn-submit" class="btn btn-success">Simpan</button>
    <a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Kembali</a>
</form>


<script>
    $(document).ready(function () {
        var dataId = new URLSearchParams(window.location.search)

        $.ajax({
            method: 'get',
            url: 'https://localhost:7285/api/Menu/' + dataId.get("id"),
            success: function (response) {
                $("#Name").val(response.data.name)
                $("#Description").val(response.data.description)
                $("#Price").val(response.data.price)
                // $("#ImagePath").val(response.data.name)
            }

        })

        $("#btn-submit").click(function (e) {
            e.preventDefault()

            var name = $("#Name").val()
            var desc = $("#Description").val()
            var price = $("#Price").val()
            var file = $("#Image").prop("files")[0]
            var data = new FormData()
            data.append("Id", dataId.get("id"))
            data.append("IsDelete", false)
            data.append("Name", name)
            data.append("Description", desc)
            data.append("ImagePath", file)
            data.append("Price", price)

            $.ajax({
                url: "https://localhost:7285/api/Menu",
                method: "put",
                data: data,
                contentType: false,
                processData: false,
                // contentType: "application/json",
                success: function (response) {
                    Swal.fire({
                        text: response.message,
                        icon: "success"
                    })

                    setTimeout(function () {
                        window.location = '/Menu'
                    }, 2000)
                }
            })
        })
    })
</script>